
body {

background-color: #5C5353; 

}

.cabecalho{
background-color: #5C5353;
display: flex;
justify-content: space-around;
align-items: center;
}
.cabecalho_titulo {

    display: inline;
}

.cabecalho_imagem {

width: 130px;
height: 160px;
border-radius: 100px;

}

.cabecalho_menu{
    display: inline;

}

.cabecalho_menu-item{

    display: inline;
    margin-left: 20px;
    font-size: 32px;
}